.gpa-converter {
	max-width: 300px;
	box-sizing: border-box;
}

.gpa-converter * {
	box-sizing: border-box;
}

.gpa-converter__current-gpa-label {
	display: block;
	padding: 5px;
	text-align: left;
}

.gpa-converter__current-gpa {
	padding: 5px;
}

.gpa-converter__current-scale-label {
	display: block;
	padding: 5px;
	text-align: left;
}

.gpa-converter__current-scale {
	padding: 5px;
}

.gpa-converter__calculated-container {
	padding: .5rem;
}

.gpa-converter__calculated-gpa {
	display: inline-block;
	margin: auto;
	min-width: 3rem;
	min-height: 2.5rem;
	border-bottom: 1px solid #000;
	font-size: 2rem;
	line-height: 2.5rem;
}

.gpa-converter__submit {
	padding: 10px 15px;
}

/* LAYOUT: Verticle */

.gpa-converter--verticle {
	text-align: center;
}

.gpa-converter--verticle .gpa-converter__current-gpa-label {
	padding: 10px 0px;
}

.gpa-converter--verticle .gpa-converter__current-gpa {
	display: block;
	width: 100%;
}

.gpa-converter--verticle .gpa-converter__current-scale-label {
	padding: 10px 0px;
}

.gpa-converter--verticle .gpa-converter__current-scale {
	display: block;
	width: 100%;
}

/* LAYOUT: Horizontal */

.gpa-converter--horizontal {

}

/* THEME: Card */

.gpa-converter--card {
	padding: 15px;
	background: #fff;
	-webkit-box-shadow: 0px 0px 15px 0px rgba(170,170,170,1);
	-moz-box-shadow: 0px 0px 15px 0px rgba(170,170,170,1);
	box-shadow: 0px 0px 15px 0px rgba(170,170,170,1);
}

.gpa-converter--card .gpa-converter__current-gpa {
	background: #eee;
}

.gpa-converter--card .gpa-converter__current-gpa:focus {
	background: #fff;
}

.gpa-converter--card .gpa-converter__current-scale {
	background: #eee;
}

.gpa-converter--card .gpa-converter__current-scale:focus {
	background: #fff;
}

.gpa-converter--card .gpa-converter__submit {
	padding: 5px 25px;
	font-weight: bold;
	background: #ddd;
}